@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';

.home-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-color-secondary);
  @include flex(column, center, center);
  &__title {
    font-size: var(--text-2xl);
    color: var(--theme-color-high-risk);
    margin: 0;
  }
  &__content {
    @include flex(row, center, center);
    .value {
      font-size: var(--text-base);
      color: white;
      margin: 0 2rem;
    }
  }
}
